# Firmware (PlatformIO)
.pio/
firmware/.pio/
firmware/src/build/
firmware/.vscode/.browse.c_cpp.db*
firmware/.vscode/ipch/
firmware/src/arduino_secrets.h

# .NET MAUI app
mobile-app/**/bin/
mobile-app/**/obj/
mobile-app/.vs/
*.user
*.suo
